/**** General Styles ****/
:root {
    --clr-neutral-A: #F5F6F8;
    --clr-neutral-B: #ECEDEF;
    --clr-red: #391111;
    --clr-orange: #DF7F39;
    --clr-gray: #5C5F62;
    --clr-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--clr-neutral-A);
}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--clr-gray);
}

a:hover {
    color: var(--clr-gray);
}

ul, li {
    list-style: none;
}

.hidden {
    display: none;
}

/**** Header ****/
.navbar {
    background-color: var(--clr-red);
    padding: 0;
    position: relative;
}

#hitlist-brand {
    color: var(--clr-neutral-A);
    margin: 10px;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    gap: 25px;
    margin: 0 20px 0 0;
    align-items: center;
}

.navLink {
    color: var(--clr-gray);
}

.navLink:hover, .navLink:active {
    color: var(--clr-neutral-A);
} 



/**** Footer ****/
/* footer {
    background-color: var(--clr-red);
    color: var(--clr-neutral-A);
    height: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
} */


/**** Index Main ****/
.index-main {
    background-color: var(--clr-neutral-A);
    min-height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.index-main img {
    width: 75vh;
    height: 92vh;
}

.index-main-text {
    color: var(--clr-red);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
}

.index-main-text h1 {
    font-size: 200px;
    margin: 0;
}

.index-main-text h2 {
    font-size: 60px;
    text-align: center;
}

.index-main-text span {
    color: var(--clr-orange);
}

.index-main-btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 650px;
    gap: 10px;
}

.index-main-btns a {
    color: var(--clr-neutral-A);
    background-color: var(--clr-red);
    border-radius: 10px;
    width: 250px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
}


/**** Sign-In Main ****/
.signin-main {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.signin-main img {
    width: 50vw; 
    height: 90vh;
    grid-column: 1;
}

.signin-main form {
    width: 50vw;
    padding-left: 15px;
    padding-top: 10px;
    grid-column: 2;
}


/**** Sign-Up Main ****/
.signup-main {
    height: 90vh;
    width: 100%;
    background-color: var(--clr-neutral-A);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-main-container {
    min-height: 90vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.signup-main-container img {
    width: 50vh;
    height: auto;
}

.signup-form {
    width: 50%;
}


/**** Discussion Main ****/
.discussion-main {
    background-color: var(--clr-neutral-A);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 100px;
    color: var(--clr-red);
    position: relative;
}

.discussion-main-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.discussion-main-profile #new-post {
    font-size: 25px;
    margin-top: 25px;
}

.discussion-post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-neutral-A);
    background-color: var(--clr-orange);
    border: 2px solid var(--clr-orange);
    border-radius: 50px;
    width: 75px;
    height: 75px;
    margin-top: 100px;
    right: 100px;
}

.discussion-post-btn span {
    font-size: 50px;
}

.discussion-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 100px 0 0 0;
}

.discussion-links-container img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border: 5px solid var(--clr-red);
    border-radius: 10px;
}

.discussion-links-container button {
    color: var(--clr-neutral-A);
    background-color: var(--clr-orange);
    border-radius: 50px;
    width: 75px;
    height: 75px;
}

.discussion-links-container h1, .discussion-links-container a {
    font-size: 30px;
    color: var(--clr-red);
}

.discussion-links-container .selected {
    color: var(--clr-orange);
}

.discussion-card {
    display: flex;
    flex-direction: column;
}

.discussion-card-container {
    max-width: 100em;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border: 2px solid var(--clr-red);
    margin: 25px 0 0 100px;
    padding: 30px;
    border-radius: 30px;
}

.discussion-card-container #title {
    padding: 20px 0 20px 25px;
}

.discussion-card-container-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.discussion-card-container-profile div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.discussion-card-container-profile img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid var(--clr-orange);
}

.discussion-card-container p {
    padding: 0 10px;
    font-size: 25px;
}

.discussion-card-container-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discussion-card-container button {
    background-color: var(--clr-red);
    border-radius: 50px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin: 0 15px;
    margin-left: 500px;
}

.discussion-card-container button a {
    color: var(--clr-neutral-A);
}

.discussion-form-group div {
    font-size: 25px;
}

.discussion-form-group form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discussion-card-container .discussion-form-group input, .discussion-card-container .discussion-form-group textarea {
    width: 650px;
    font-size: 20px;
    color: var(--clr-red);
    border: 2px solid var(--clr-orange);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.discussion-card-container .discussion-form-group button {
    background-color: var(--clr-red);
    border-radius: 50px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin: 0 15px;
}

.discussion-posts {
    margin-top: 100px;
}


/**** Contact Main ****/
.contact_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_form {
    flex: 1;
    padding: 20px;
    background-color: var(--clr-neutral-A);
    border: 2px solid var(--clr-gray);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 50px 20px 0 0;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--clr-gray);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, outline 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--clr-red);
    outline: none;
}

button[type="submit"] {
    background-color: var(--clr-red);
    color: var(--clr-neutral-A);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.success-message {
    color: var(--clr-green);
    font-size: 18px;
}

.contact_image {
    flex: 1;
    text-align: center;
}

.contact_image img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 50px auto 0;
    border: 2px solid var(--clr-gray);
    border-radius: 10px;
}


/**** Profile Main ****/ 
.grid-container-profile {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 10rem; 
    margin: 100px 100px;
    color: var(--clr-red);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 20vw;
    top: 15vh;
}

.profile-container img {
    width: 400px;
    height: 400px;
    margin-bottom: 5px;
    border: 5px solid var(--clr-red);
    border-radius: 10px;
}

.profile-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-links-container .selected {
    color: var(--clr-orange);
}

.profile-links-container h3, .profile-links-container a {
    font-size: 30px;
    color: var(--clr-red);
}

.user-post {
    border: 5px solid var(--clr-red);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 40vw;
    color: var(--clr-red);
    font-size: 25px;
}

.user-post-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.user-card-container {
    width: 650px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 2px solid var(--clr-red);
    margin: 50px 0 0 100px;
    padding: 30px;
    border-radius: 30px;
}

.user-card-container-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.user-card-container form button {
    background-color: var(--clr-red);
    border-radius: 50px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin: 0 15px;
}

.user-post-container {
    padding-bottom: 225px;
    position: absolute;
    top: 15vh;
    right: 20vw;
}

.user-card-container form {
    width: 100%;
    display: flex;
    margin-left: 400px;
}


/**** Playlist Main ****/
.playlist-main {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    gap: 5rem; 
    padding: 100px 100px;
    color: var(--clr-red);
}

.playlist-profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    top: 0;
}

.play-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 14vw;
    top: 15vh;
}

.play-profile-container img {
    width: 400px;
    height: 400px;
    margin-bottom: 5px;
    border: 5px solid var(--clr-red);
    border-radius: 10px;
}

.play-profile-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.play-profile-links-container .selected {
    color: var(--clr-orange);
}

.play-profile-links-container h3, .play-profile-links-container a {
    font-size: 30px;
    color: var(--clr-red);
}

#playlist-prof-img {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border: 5px solid var(--clr-red);
    border-radius: 10px;
}

.playlist-attributes {
    color: var(--clr-red);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65vh;
    left: 13vw;
}

.user-playlists form {
    margin-left: 1em;
}

.playlist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playlist-info ul {
    margin-right: 1em;
}

.playlist-container {
    margin-bottom: 400px;
    position: absolute;
    top: 15vh;
    right: 8vw;
}

.playlist-info-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.playlist-table {
    width: 60vw;
    height: 40vh;
}

.tr-1 {
    font-size: 25px;
    color: var(--clr-orange);
}

.tr-2 {
    font-size: 20px;
    color: var(--clr-red);
}


/**** Acount Settings Main ****/
.prof-settings-main {
    background-color: var(--clr-neutral-A);
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: var(--clr-red);
}

.prof-settings-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.prof-settings-links-container img {
    width: 400px;
    height: 400px;
    margin-bottom: 5px;
    border: 5px solid var(--clr-red);
    border-radius: 10px;
}

.prof-settings-links-container .selected {
    color: var(--clr-orange);
}

.prof-settings-links-container h3, .prof-settings-links-container a {
    font-size: 30px;
    color: var(--clr-red);
}

.prof-settings-main form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0.1rem;
    
}

.profile-modifications {
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.prof-settings-form-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.prof-settings-form-group label {
    width: 250px;
    font-size: 25px;
    padding-bottom: 15px;
    color: var(--clr-red);
    align-self: center;
}

.prof-settings-form-group input {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--clr-orange);
    font-size: 30px;
    align-self: center;
}

.prof-settings-main button {
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;
}

button[type="button"] {
    background-color: var(--clr-red);
    color: var(--clr-neutral-A);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


/**** Account Contact Main ****/
.prof-contact-main {
    background-color: var(--clr-neutral-A);
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: var(--clr-red);
}

.prof-contact-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.prof-contact-links-container img {
    width: 400px;
    height: 400px;
    margin-bottom: 5px;
    border: 5px solid var(--clr-red);
    border-radius: 10px;
}

.prof-contact-links-container .selected {
    color: var(--clr-orange);
}

.prof-contact-links-container h3, .prof-contact-links-container a {
    font-size: 30px;
    color: var(--clr-red);
}

.prof-contact-main form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.prof-contact-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.prof-contact-form-group label {
    width: 200px;
    font-size: 30px;
    padding-bottom: 15px;
    color: var(--clr-red);
}

.prof-contact-form-group input {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--clr-orange);
    font-size: 30px;
}

.prof-contact-form-group:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.prof-contact-form-group:nth-child(4) textarea {
    border: 2px solid var(--clr-orange);
    border-radius: 10px;
    font-size: 30px;
}


.prof-contact-main button {
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;
}


/* Success Page */
#success-h1 {
    color: var(--clr-red);
    text-decoration: underline var(--clr-orange);
    text-align: center;
    padding-top: 500px;
    font-size: 50px;
}

/* Post Page */

.post-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.posting-card-container {
    width: 650px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 2px solid var(--clr-red);
    margin: 50px 0 0 100px;
    padding: 30px;
    border-radius: 30px;
}

.posting-card-container-profile img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid var(--clr-orange);
}

.posting-card-container-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.posting-card-container form button {
    background-color: var(--clr-red);
    border-radius: 50px;
    width: 150px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
}

.posting-post-container {
    padding-bottom: 225px;
    position: absolute;
    top: 15vh;
    right: 20vw;
}

.posting-card-container form {
    width: 100%;
    display: flex;
    justify-content: end;
}