{% extends 'layout.html' %}

{% block body %}
    <main class="prof-contact-main">
        <div class="prof-contact-links-container">
            <h1>{{ username }}</h1>
            {% if user_profile_image != None%}
            <img src="data:image/*;base64,{{ user_profile_image }}" alt="Avatar">
            {% else %}
            <img src="../static/images/default_profile_picture.jpg" alt="Default profile image">
            {% endif %}
            <a href="/profile/{{ username }}">Profile</a>
            <h3>User ID: {{ user_id }}</h3>
            <a href="{{ url_for('get_user_playlists')}}">Playlists</a>
            <a href="{{ url_for('profile_page', username = username)}}">Profile</a>
            <a href="{{ url_for('account_settings_page') }}">Settings</a>
            <a href="{{ url_for('account_contact_page') }}" class="selected">Contact</a>
        </div>
        <div>
            <form method="post" action="send_contact">
                <div class="prof-contact-form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="prof-contact-form-control" id="first-name" required>
                </div>
                <div class="prof-contact-form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="prof-contact-form-control" id="last-name" required>
                </div>
                <div class="prof-contact-form-group">
                    <label for="email">Email</label>
                    <input type="email" class="prof-contact-form-control" id="email" required>
                </div>
                <div class="prof-contact-form-group">
                    <label for="textarea">Comments/Concerns</label>
                    <textarea name="textarea" id="textarea" cols="30" rows="5"></textarea>
                </div>
                <button type="submit" class="prof-contact-btn">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}

