{% extends 'layout.html' %}

{% block body %}
    <head>
        <script src="../static/js/account_settings.js" defer></script>
    </head>
    <main class="prof-settings-main">
        <div class="prof-settings-links-container">
            <h1>{{ username }}</h1>
            <img src="../static/images/profile.png" alt="Empty Profile">
            <h3>User ID: {{ user_id }}</h3>
            <a href="{{ url_for('get_user_playlists')}}">Playlists</a>
            <a href="{{ url_for('profile_page', username = username)}}">Profile</a>
            <a href="{{ url_for('account_settings_page') }}" class="selected">Settings</a>
            <a href="{{ url_for('account_contact_page') }}">Contact</a>
            <a href="{{ url_for('authorize_spotify') }}">Authorize Spotify</a>
        </div>
        <div class="profile-data">
            <h2>First Name: {{ first_name }}</h2>
            <br>
            <h2>Last Name: {{ last_name }}</h2>
            <br>
            <h2>Username: {{ username }}</h2>
            <br>
            <h2>Display Name: {{ display_name }}</h2>
            <br>
            <h2>Email: {{ email }}</h2>
        </div>
        <div class="profile-modifications">
            <button type="button" class="settings-btn" value="change_first_name">Change First Name</button>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <div class="prof-settings-form-group hidden" value="change_first_name">
                    <label for="first_name">New First Name:</label>
                    <input type="text" name="first_name" id="first_name" class="prof-settings-form-control" required>
                    <button name="submit-btn" type="submit" value="change_first_name">Submit</button>
                </div>
            </form>
            <button type="button" name="settings-btn" class="settings-btn" value="change_last_name">Change Last Name</button>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <div class="prof-settings-form-group hidden" value="change_last_name">
                    <label for="last_name">New Last Name:</label>
                    <input type="text" name="last_name" id="last_name" class="prof-settings-form-control" required>
                    <button name="submit-btn" type="submit" value="change_last_name">Submit</button>
                </div>
            </form>
            <button type="button" name="settings-btn" class="settings-btn" value="change_username">Change Username</button>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <div class="prof-settings-form-group hidden" value="change_username">
                    <label for="username">New Username:</label>
                    <input type="text" name="username" id="username" class="prof-settings-form-control" required>
                    <button name="submit-btn" type="submit" value="change_username">Submit</button>
                </div>
            </form>
            <button type="button" name="settings-btn" class="settings-btn" value="change_display_name">Change Display Name</button>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <div class="prof-settings-form-group hidden" value="change_display_name">
                    <label for="display_name">New Display Name:</label>
                    <input type="text" name="display_name" id="display_name" class="prof-settings-form-control" required>
                    <button name="submit-btn" type="submit" value="change_display_name">Submit</button>
                </div>
            </form>
            <button type="button" name="settings-btn" class="settings-btn" value="change_email">Change Email</button> 
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <div class="prof-settings-form-group hidden" value="change_email">
                    <label for="email">New Email:</label>
                    <input type="text" name="email" id="email" class="prof-settings-form-control" required>
                    <button name="submit-btn" type="submit" value="change_email">Submit</button>
                </div>
            </form>
            <button type="button" name="settings-btn" class="settings-btn" value="change_password">Change Password</button>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <div class="prof-settings-form-group hidden" value="change_password">
                    <label for="password">New Password:</label>
                    <input type="text" name="password" id="password" class="prof-settings-form-control" required>
                    <button name="submit-btn" type="submit" value="change_password">Submit</button>
                </div>
            </form>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <button type="submit" name="submit-btn" class="settings-btn" value="connect-spotify">Connect to Spotify</button>
            </form>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <button type="submit" name="submit-btn" class="settings-btn" value="logout">Log out</button>
            </form>
            <form method="post" action="{{ url_for('account_settings_page')}}">
                <button type="submit" name="submit-btn" class="settings-btn" value="delete-account">Delete Account</button>
            </form>
        </div>
    </main>
{% endblock %}

