{% extends 'layout.html' %}

{% block body %}
<header>
    <nav class="navbar">
        <a id="hitlist-brand" href="/">HitList</a>
        <div class="navlinks">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="home" href="/">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="sign-in" href="/">Sign-In</a>
                </li>
                <li class="nav-item">
                    <a class="sign-up" href="/">Sign-Up</a>
                </li>
                <li class="nav-item">
                    <a class="forum" href="/">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="contact" href="/contact_us">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="contact_page">
    <div class="contact_image">
        <img src="{{ url_for('static', filename='images/vinyl.jpeg') }}" alt="Vinyl">
    </div>
    <div class="contact_form">
        <form method="POST" action="contact_us" class="contact_page_form">
            <label for="first_name">First Name:</label>
            <br>
            <input type="text" name="first_name" id="first_name" required>
            <br>

            <label for="last_name">Last Name:</label>
            <br>
            <input type="text" name="last_name" id="last_name" required>
            <br>

            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" id="email" required>
            <br>

            <label for="message">Message:</label>
            <br>
            <textarea name="message" id="message" required></textarea>
            <br>

            <button type="submit" onclick="clearForm()" >Send Message</button>
        </form>
    </div>
</main>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <script>
        /* clears the form after submit button is pressed */
        function clearForm() {
            document.getElementById('first_name').value = '';
            document.getElementById('last_name').value = '';
            document.getElementById('email').value = '';
            document.getElementById('message').value = '';
        }
    </script>
{% endblock %}
