{% extends 'layout.html' %}

{% block body %}
    <header>
        <nav class="navbar">
            <a id="hitlist-brand" href="/">HitList</a>
            <div class="navlinks">
                <ul class="navbar-list">
                    <li class="nav-item">
                        <a class="index_page" href="{{ url_for('index_page') }}">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="signin_page" href="{{ url_for('signin_page') }}">Sign-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="sign-up" href="{{ url_for('signup_page') }}">Sign-Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="discussion_page" href="{{ url_for('discussion_page') }}">Discussion</a>
                    </li>
                    <li class="nav-item">
                        <a class="contact_page" href="{{ url_for('contact_page') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="profile_page" href="{{ url_for('profile_page') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="account_settings_page" href="{{ url_for('account_settings_page') }}">Settings/Support</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class = "disucssion">
        <div class = "profile_name">
            <h3 class = "profile_name_text">Profile Name</h1>
            #Profile Image here
        </div>
        <div class = "discussion-container">
            <form class = "new-post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </main>
{% endblock %}

            