{% extends 'layout.html' %}

{% block body %}
    <head>
        <script src="../static/js/discussion.js" defer></script>
    </head>
    <main class="discussion-main">
        {% if username %}
        <div class="discussion-main-profile">
            <div class="discussion-links-container">
                <a href="/profile/{{ username }}">{{ username }}</a>
                <img src="../static/images/profile.png" alt="Empty Profile">
                <a href="/profile/{{ username }}">Profile</a>
            </div>
            <button class="discussion-post-btn"><span class="material-symbols-outlined">add</span></button>
        </div>
        {% endif %}
        <div class="discussion-card">
            <div class="discussion-card-container hidden">
                <div class="discussion-card-container-profile">
                    <div>
                        <img src="../static/images/profile.png" alt="Profile Name">
                        <h2>{{ username }}</h2>
                    </div>
                    <h2>{{ date }}</h2>
                </div>
                <div class="discussion-form-group">
                    <form action="{{ url_for('discussion_page') }}" method="post">
                        <div>
                            <label for="content">Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div>
                            <label for="content">Content</label>
                            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                        </div>
                        <button type="submit" name="submit" value="post">Submit</button>
                    </form>
                </div>
            </div>
            <div class="discussion-posts">
                {% if not post_list %}
                    {% if not session['username'] %}
                        <h1 id="no-posts">Oh no! No posts have been made at the moment.</h1>
                    {% else %}
                        <h1 id="no-posts">No posts available, create one by clicking the + button!</h1>
                    {% endif %}
                {% else %}
                    {% for post in post_list %}
                        <div class="discussion-card-container">
                            <div class="discussion-card-container-profile">
                                <div>
                                    <p class="hidden" id="post_id"><small>{{ post.id }}</small></p>
                                    <img src="../static/images/profile.png" alt="Profile Name">
                                    <a href="{{ url_for('profile_page', username=post.user_name) }}"><h2>{{ post.user_name }}</h2></a>
                                </div>
                                <h2>{{ post.created.strftime("%d %B %Y") }}</h2>
                            </div>
                            <h2 id="title">{{ post.title }}</h2>
                            <p>{{ post.content }}</p>
                            <button class="settings-btn"><a href="{{ url_for('get_post_by_id', id = post.id)}}">Comments</a></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}

            