{% extends 'layout.html' %}

{% block body %}
    <header>
        <nav class="navbar">
            <a id="hitlist-brand" href="/">HitList</a>
            <div class="navlinks">
                <ul class="navbar-list">
                    <li class="nav-item">
                        <a class="index_page" href="{{ url_for('index_page') }}">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="signin_page" href="{{ url_for('signin_page') }}">Sign-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="sign-up" href="{{ url_for('signup_page') }}">Sign-Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="discussion_page" href="{{ url_for('discussion_page') }}">Discussion</a>
                    </li>
                    <li class="nav-item">
                        <a class="contact_page" href="{{ url_for('contact_page') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="profile_page" href="{{ url_for('profile_page') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="account_settings_page" href="{{ url_for('account_settings_page') }}">Settings/Support</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="discussion-main">
        <div class="discussion-main-profile">
            ##make a button for post
            <a class="discussion-post-btn" href="{{ url_for('discussion_page') }}"><span class="material-symbols-outlined">add</span></a>
            <h1 id="new-post">Create a new post!</h1>
            <div class="discussion-links-container">
                <h1>Profile Name</h1>
                <img src="../static/images/profile.png" alt="Empty Profile">
                <a href="{{ url_for('discussion_page') }}" class="selected">Newest</a>
                <a href="{{ url_for('discussion_page') }}">Oldest</a>
            </div>
        </div>
        <div class="discussion-card">
            <div class="discussion-card-container">
                <div class="discussion-card-container-profile">
                    <div>
                        <img src="../static/images/profile.png" alt="Profile Name">
                        <h2>Profile Name</h2>
                    </div>
                    <h2>Date</h2>
                </div>
                <div class="form-group">
                    <form action="/discussion_page" method="post">
                    <label for="content">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                    <button type="submit">Submit</button>
                    </form>
                </div>
        <div class="discussion-card">
            <div class="discussion-card-container">
                <div class="discussion-card-container-profile">
                    <div>
                        <img src="../static/images/profile.png" alt="Profile Name">
                        <h2>Profile Name</h2>
                    </div>
                    <h2>Date</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, alias porro doloribus ad, maxime ducimus debitis corrupti eligendi ullam quidem libero est, perspiciatis ipsam laudantium.</p>
                <div class="discussion-card-container-btns">
                    <button>Comment</button>
                    <div>
                        <button><span class="material-symbols-outlined">thumb_up</span></button>
                        <button><span class="material-symbols-outlined">thumb_down</span></button>
                        <button><span class="material-symbols-outlined">share</span></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

            