{% extends 'layout.html' %}

{% block body %}
<header>
    <nav class="navbar">
        <a id="hitlist-brand" href="/">HitList</a>
        <div class="navlinks">
            <ul class="navbar-list">
                <li class="nav-item">
                    <a class="index_page" href="{{ url_for('index_page') }}">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="signin_page" href="{{ url_for('signin_page') }}">Sign-In</a>
                </li>
                <li class="nav-item">
                    <a class="sign-up" href="{{ url_for('signup_page') }}">Sign-Up</a>
                </li>
                <li class="nav-item active">
                    <a class="discussion_page" href="{{ url_for('discussion_page') }}">Discussion</a>
                </li>
                <li class="nav-item">
                    <a class="contact_page" href="{{ url_for('contact_page') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="account_settings_page" href="{{ url_for('account_settings_page') }}">Settings/Support</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="post-main">
    <article>
        <h1>{{ post.user_name }}</h1>
        <p>{{ post.title }}</p>
        <p>{{ post.created }}</p>
        <p>{{ post.content }}</p>
    </article>
    {% if user %}
    <div>
        <form action="{{url_for('create_comment', id = post.id)}}" method="post">
        <label for="content">Comment</label>
        <input type="text" name="content">
        <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
    {% if comments %}
        {% for comment in comments %}
        <div class="post-comment">
            <p>{{ comment.user_name }}</p>
            <p>{{ comment.created }}</p>
            <p>{{ comment.content }}</p>
        </div>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}