{% extends 'layout.html' %}

{% block body %}
<main class="post-main">
    <div>
        <article>
            <div class="posting-card-container">
                <div class="posting-card-container-profile">
                    <img src="../static/images/profile.png" alt="Profile Name">
                    <h1>{{ post.user_name }}</h1>
                    <h2>{{ post.created.strftime("%d %B %Y") }}</h2>
                </div>
                <h2>{{ post.title }}</h2>
                <h3>{{ post.content }}</h3>
                {% if user %}
                    <form action="{{ url_for('create_comment', id=post.id)}}" method="post">
                        <button type="submit" name="submit-btn" value="edit-post-btn">Edit</button>
                        <button type="submit" name="submit-btn" value="delete-post-btn">Delete</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </article>
    </div>
    {% if user %}
    <div>
        <form action="{{url_for('create_comment', id=post.id)}}" method="post">
        <label for="content">Comment</label>
        <input type="text" name="content">
        <button type="submit" name="submit-btn" value="comment">Submit</button>
        </form>
    </div>
    {% endif %}
    <div>
        {% if comments %}
            {% for comment in comments %}
            <div class="post-comment">
                <p>{{ comment.user_name }}</p>
                <p>{{ comment.created.strftime("%d %B %Y") }}</p>
                <p>{{ comment.content }}</p>
                {% if user %}
                <div>
                    <form action="{{url_for('create_comment', id=post.id)}}" method="post">
                        <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
                        <button type="submit" name="submit-btn" value="delete">Delete</button>
                        {% if session['username'] == comment.user_name %}
                            <button type="submit" name="submit-btn" value="edit" class="edit-btn">Edit</button>
                        {% endif %}
                    </form>
                </div>
                
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}