{% extends 'layout.html' %}

{% block body %}
<main class="post-main">
    <article>
        <h1>{{ post.user_name }}</h1>
        <p>{{ post.title }}</p>
        <p>{{ post.created }}</p>
        <p>{{ post.content }}</p>
        {% if user %}
        <form action="{{ url_for('create_comment', id = post.id)}}" method="post">
            <button type="submit" name="submit-btn" value="edit-post-btn">Edit</button>
            <button type="submit" name="submit-btn" value="delete-post-btn">Delete</button>
        </form>
        {% endif %}
    </article>
    {% if user %}
    <div>
        <form action="{{url_for('create_comment', id = post.id)}}" method="post">
        <label for="content">Comment</label>
        <input type="text" name="content">
        <button type="submit" name="submit-btn" value="comment">Submit</button>
        </form>
    </div>
    {% endif %}
    {% if comments %}
        {% for comment in comments %}
        <div class="post-comment">
            <p>{{ comment.user_name }}</p>
            <p>{{ comment.created }}</p>
            <p>{{ comment.content }}</p>
            {% if user %}
            <form action="{{url_for('create_comment', id = post.id)}}" method="post">
                <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
                <button type="submit" name="submit-btn" value="delete">Delete</button>
                <button type="submit" name="submit-btn" value="edit" class="edit-btn">Edit</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}