{% extends 'layout.html' %}

{% block body %} 
    <!-- User page will be different for each user, change this when we have DB and more functionality -->
    <main class="profile-page">
        <div class="grid-container-profile">
            <div class="profile-container">
                <h1>{{ username }}</h1>
                <img src="../static/images/profile.png" alt="Empty Profile">
                <div class="profile-links-container">
                    <h3>User ID: {{ user_id }}</h3>
                    {% if is_user %}
                        <a href="{{ url_for('get_user_playlists')}}">Playlists</a>
                    {% endif %}
                    <a class="selected" href="{{ url_for('profile_page', username = username)}}">Profile</a>
                    <a href="{{ url_for('account_settings_page') }}">Settings</a>
                    <a href="{{ url_for('account_contact_page') }}">Contact</a>
                    <a href="{{ url_for('authorize_spotify') }}">Authorize Spotify</a>
                </div>
            </div>
            <div class="user-post-container">
                {% if user_posts | length <= 0 %}
                    {% if is_user %}
                    <div class='user-post-message'>
                        <h1>You have no posts! Create one by going to our </h1>
                        <a href="{{ url_for('discussion_page')}}"><h1>Discussion forum</h1></a> 
                        <h1>and clicking the + button!</h1>
                    </div>
                    {% else %}
                    <h1>This user has no posts</h1>
                    {% endif %}
                {% else %}
                <h3>{{ display_name }} Posts:</h3>
                {% for post in user_posts %}
                <div class="user-post">
                    <article>
                        <h4>{{post.user_name}}</h4>
                        <p>{{post.title}} {{post.created}}</p>
                        <p>{{post.content}}</p>
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </article>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}