{% extends 'layout.html' %}

{% block body %}
<body>
    <header>
        <nav class="navbar">
            <a id="hitlist-brand" href="/">HitList</a>
            <div class="navlinks">
                <ul class="navbar-list">
                    <li class="nav-item">
                        <a class="home" href="{{ url_for('index_page') }}">Home</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="signin_page" href="{{ url_for('signin_page') }}">Sign-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="sign-up" href="{{ url_for('signup_page') }}">Sign-Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="discussion_page" href="{{ url_for('discussion_page') }}">Discussion</a>
                    </li>
                    <li class="nav-item">
                        <a class="contact_page" href="{{ url_for('contact_page') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="profile_page" href="{{ url_for('profile_page') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="account_settings_page" href="{{ url_for('account_settings_page') }}">Settings/Support</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="signin-main">
        <img src="../static/images/microphone.jpeg" alt="microphone">
        <form action="/sign_in_page" method="post" class="signin-form">
            <h1>Sign in</h1>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="usernmae" aria-describedby="emailHelp" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="emailHelp" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </main>
</body>
{% endblock %}