{% extends 'layout.html' %}

{% block body %}
<head>
    <style>
        h1 {
            padding: 1rem;
        }
    </style>
</head>
<header>
    <nav class="navbar">
        <a id="hitlist-brand" href="/">HitList</a>
        <div class="navlinks">
            <ul class="navbar-list">
                <li class="nav-item active">
                    <a class="home" href="{{ url_for('index_page') }}">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="signin_page" href="{{ url_for('signin_page') }}">Sign-In</a>
                </li>
                <li class="nav-item">
                    <a class="sign-up" href="{{ url_for('signup_page') }}">Sign-Up</a>
                </li>
                <li class="nav-item">
                    <a class="discussion_page" href="{{ url_for('discussion_page') }}">Discussion</a>
                </li>
                <li class="nav-item">
                    <a class="contact_page" href="{{ url_for('contact_page') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="profile_page" href="{{ url_for('profile_page') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="account_settings_page" href="{{ url_for('account_settings_page') }}">Settings/Support</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <h1>Successfully connected to spotify!</h1>
</main>
{% endblock %}